<div class="main-container">

  <header class="section-header">
    {% include 'breadcrumb' %}
    <h1 class="section-header__title">{{ page.title }}</h1>
  </header>

  {% comment %}
    Regular page content goes here.
  {% endcomment %}
  <div class="rte clearfix">
    {% comment %}{{ page.content }}{% endcomment %}
    <p>BnB Tobacco carries a large selection of premium cigars while offering everyday premium discounts.  From boxes, bundles, 5 packs, singles, or samplers, we have something for everyone regardless of your budget.  We carry all the major brands Montecristo, Cohiba, Romeo y Julieta, Rocky Patel, Acid / Drew Estate, Ashton, Arturo Fuente, Oliva, and much much more.</p>
    <div class="main-table">
       <div class="main-table-inner">
         <div class="table-section">
           <h5>
             <a href="../pages/premium-cigar-brands" title="Premium Cigar Brands">Search by Brand</a>
           </h5>
           <ul>
            <li>
               <a href="../collections/new-premium-cigars" title="New Premium Cigars">New Cigars</a>
            </li>
            <li>
               <a href="../collections/on-sale-premium-cigars" title="On Sale Premium Cigars">On Sale</a>
            </li>
            <li>
               <a href="../collections/top-sellers-premium-cigars" title="Top Selling Premium Cigars">Top Sellers</a>
            </li>
            <li>
               <a href="../collections/close-out-premium-cigars" title="Close Out Premium Cigars">Close Outs</a>
            </li>
          </ul>
        </div>
        <div class="table-section">
          <h5>Strength</h5>
          <ul>
            <li>
               <a href="../collections/mild-bodied-cigars" title="Mild Bodied Cigars">Mild Cigars</a>
            </li>
            <li>
               <a href="../collections/mild-medium-bodied-cigars" title="Mild-Medium Bodied Cigars">Mild-Medium Cigars</a>
            </li>
            <li>
               <a href="../collections/medium-bodied-cigars" title="Medium Bodied Cigars">Medium Cigars</a>
            </li>
            <li>
               <a href="../collections/medium-full-bodied-cigars" title="Medium-Full Bodied Cigars">Medium-Full Cigars</a>
            </li>
            <li>
               <a href="../collections/full-bodied-cigars" title="Full Bodied Cigars">Full Cigars</a>
            </li>
           </ul>
         </div>
          <div class="table-section">
            <h5>Wrappers</h5>
            <ul>
              <li>
                 <a href="../collections/cameroon-wrapper-premium-cigars" title="Cameroon Wrapper Cigars">Cameroon</a>
              </li>
              <li>
                 <a href="../collections/candela-wrapper-premium-cigars" title="Candela Wrapper Cigars">Candela</a>
              </li>
              <li>
                 <a href="../collections/connecticut-wrapper-premium-cigars" title="Connecticut Wrapper Cigars">Connecticut</a>
              </li>
              <li>
                 <a href="../collections/corojo-wrapper-premium-cigars" title="Corojo Wrapper Cigars">Corojo</a>
              </li>
              <li>
                 <a href="../collections/cuban-seed-wrapper-premium-cigars" title="Cuban Seed Wrapper Cigars">Cuban Seed</a>
              </li>
              <li>
                 <a href="../collections/habano-wrapper-premium-cigars" title="Habano Wrapper Premium Cigars">Habano</a>
              </li>
              <li>
                 <a href="../collections/maduro-wrapper-premium-cigars" title="Maduro Wrapper Cigars">Maduro</a>
              </li>
              <li>
                 <a href="../collections/natural-wrapper-premium-cigars" title="Natural Wrapper Cigars">Natural</a>
              </li>
              <li>
                 <a href="../collections/san-andres-wrapper-premium-cigars" title="San Andres Wrapper Cigars">San Andres</a>
              </li>
              <li>
                 <a href="../collections/shade-grown-wrapper-premium-cigars" title="Shade Grown Wrapper Cigars">Shade Grown</a>
              </li>
              <li>
                 <a href="../collections/sumatra-wrapper-premium-cigars" title="Sumatra Wrapper Cigars">Sumatra</a>
              </li>
              <li>
                 <a href="../collections/sun-grown-wrapper-premium-cigars" title="Sun Grown Wrapper Cigars">Sun Grown</a>
              </li>
            </ul>
          </div>
          <div class="table-section">
            <h5>Price Range</h5>
            <ul>
              <li>
                 <a href="../collections/50-premium-cigars" title="Under $50 Cigars">&lt; $50</a>
              </li>
              <li>
                 <a href="../collections/50-75-premium-cigars" title="$50 - $75 Cigars">$50-$75</a>
              </li>
              <li>
                 <a href="../collections/75-100-premium-cigars" title="$75 - $100 Cigars">$75-$100</a>
              </li>
              <li>
                 <a href="../collections/100-150-premium-cigars" title="$100 - $150 Cigars">$100-$150</a>
              </li>
              <li>
                 <a href="../collections/150-200-premium-cigars" title="$150 - $200 Cigars">$150-$200</a>
              </li>
              <li>
                 <a href="../collections/over-200-premium-cigars" title="Over $200 Cigars">Over $200</a>
              </li>
            </ul>
           </div>
           <div class="table-section">
              <h5>Ratings</h5>
              <ul>
                <li>
                   <a href="../collections/90-rated-cigars" title="90 Plus Rated Cigars">90+ Rated Cigars</a>
                </li>
                <li>
                   <a href="../collections/95-rated-cigars" title="95 Plus Rated Cigars">95+ Rated Cigars</a>
                </li>
                <li>
                   <a href="../collections/top-cigars-of-2016" title="Top Cigars of 2016">Top Cigars 2016</a>
                </li>
                <li>
                   <a href="../collections/top-cigars-of-2015" title="Top Cigars of 2015">Top Cigars 2015</a>
                </li>
              </ul>
           </div>
           <div class="table-section">
              <h5>Country</h5>
              <ul>
                <li>
                   <a href="../collections/american-cigars" title="American Cigars">American Cigars</a>
                </li>
                <li>
                   <a href="../collections/brazilian-cigars" title="Brazilian Cigars">Brazilian Cigars</a>
                </li>
                <li>
                   <a href="../collections/colombian-cigars" title="Colombian Cigars">Colombian Cigars</a>
                </li>
                <li>
                   <a href="../collections/costa-rican-cigars" title="Costa Rican Cigars">Costa Rican Cigars</a>
                </li>
                <li>
                   <a href="../collections/dominican-republic-cigars" title="Dominican Republic Cigars">Dominican Cigars</a>
                </li>
                <li>
                   <a href="../collections/ecuadorian-cigars" title="Ecuadorian Cigars">Ecuadorian Cigars</a>
                </li>
                <li>
                   <a href="../collections/european-cigars" title="European Cigars">European Cigars</a>
                </li>
                <li>
                   <a href="../collections/honduran-cigars" title="Honduran Cigars">Honduran Cigars</a>
                </li>
                <li>
                   <a href="../collections/indonesian-cigars" title="Indonesian Cigars">Indonesian Cigars</a>
                </li>
                <li>
                   <a href="../collections/mexican-cigars" title="Mexican Cigars">Mexican Cigars</a>
                </li>
                <li>
                   <a href="../collections/nicaraguan-cigars" title="Nicaraguan Cigars">Nicaraguan Cigars</a>
                </li>
                <li>
                   <a href="../collections/panamanian-cigars" title="Panamanian Cigars">Panamanian Cigars</a>
                </li>
                <li>
                   <a href="../collections/peruvian-cigars" title="Peruvian Cigars">Peruvian Cigars</a>
                </li>
              </ul>
           </div>
           <div class="table-section">
              <h5>Category</h5>
              <ul>
                <li>
                  <a href="../collections/premium-gift-sets" title="premium gift sets">Gift Sets</a>
                </li>
                <li>
                  <a href="../collections/samplers" title="Samplers">Samplers</a>
                </li>
                <li>
                  <a href="../collections/flavored-cigars" title="Flavored Cigars">Flavored Cigars</a>
                </li>
              </ul>
            </div>
            <div class="table-section">
              <h5>Other</h5>
              <ul>
                <li>
                   <a href="../blogs/news" title="Cigar Blog">Cigar Blog</a>
                </li>
                <li>
                   <a href="https://www.etsy.com/shop/BnBTobacco?ref=hdr_shop_menu" target="_blank" title="Cigar Boxes" rel="noopener noreferrer">Cigar Boxes</a>
                </li>
                <li>
                   <a href="http://www.cigardevil.com/deals/premium-cigars" target="_blank" title="Devilish Deals" rel="noopener noreferrer">Devilish Daily Deals</a>
                </li>
              </ul>
           </div>
           <div class="table-section">
              <h5>Top Brands</h5>
              <ul>
                <li>
                  <a href="../collections/acid" title="Acid Cigars">Acid</a>
                </li>
                <li>
                  <a href="../collections/romeo-y-julieta" title="romeo y julieta">Romeo y Julieta</a>
                </li>
                <li>
                  <a href="../collections/macanudo" title="Macanudo">Macanudo</a>
                </li>
                <li>
                  <a href="../collections/montecristo" title="Montecristo">Montecristo</a>
                </li>
                <li>
                  <a href="../collections/punch" title="Punch">Punch</a>
                </li>
                <li>
                  <a href="../collections/rocky-patel" title="Rocky Patel">Rocky Patel</a>
                </li>
                <li>
                  <a href="../collections/oliva" title="Oliva">Oliva</a>
                </li>
                <li>
                  <a href="../collections/Perdomo" title="Perdomo">Perdomo</a>
                </li>
                <li>
                  <a href="../collections/arturo-fuente" title="Arturo Fuente">Arturo Fuente</a>
                </li>
                <li>
                  <a href="../collections/cohiba" title="Cohiba">Cohiba</a>
                </li>
              </ul>
           </div>
      </div>
    </div>
  </div>

  {% for i in (1..10) %}
    {% capture brand_page %}brand_page_{{ i }}{% endcapture %}
    {% capture temp_collections %}brand_page_{{ i }}_collections{% endcapture %}

    {% if settings[brand_page] == page.handle %}
      {% assign brand_collections = settings[temp_collections] %}
    {% endif %}
  {% endfor %}

  {% assign brand_collections = brand_collections | split: ';' %}

  <ul class="collection-grid">

    {% for brand in brand_collections %}
      {% assign handle = brand | strip %}
      {% assign brand_collection = collections[handle] %}

      <li class="collection-item">
        <a href="{{ brand_collection.url }}"><img class="lazyload" src="{{ 'lazy.gif' | asset_url }}" data-src="{{ brand_collection.image | img_url: 'small'}}"></a>
        <h4>{{ brand_collection.title | link_to: brand_collection.url }}</h4>
      </li>

    {% endfor %}

  </ul>
</div>